body {
  font-family: roboto;
  margin: auto;
}

ul {
  padding: 0;
  margin-top: 10px;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

li p {
  margin: 0;
  font-size: 13px;
  line-height: 22px;
}

h1 {
  margin-bottom: 10px;
  font-size: 17px;
}

p {
  text-align: justify;
}

footer {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 100%);
  height: 169px;
  text-align: center;
}

footer img {
  width: 97px;
  padding-top: 33px;
}

.head {
  padding: 20px 0;
  background-image: url("images/fallout76.jpg");
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
}

.headContent {
  width: 200px;
  margin-left: 5%;
  z-index: 1000;
}

.intro {
  display: flex;
}

.bethesda {
  background-color: #D3B739;
  height: 100px;
  width: 20px;
}

.bethesda p {
  transform: rotate(270deg);
  margin-top: 72px;
  font-size: 17px;
}

.description {
  margin-left: 30px;
}

.description p {
  text-align: left;
  font-size: 20px;
  margin: 0;
}

.content {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(226,227,226,1) 100%);
  padding-top: 40px;
  padding-bottom: 77px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.firstParagraph {
  font-size: 14px;
}

.secondParagraph {
  font-size: 16px;
}

.verticalLine {
  width: 8px;
  margin-right: 6%;
  background-color: #D3B739;
  height: 315px;
}

.contentInformations {
  width: 67%;
}

.contentInformations p:first-child {
  margin-top: 0;
}

.bold {
  font-weight: bold;
}

.color {
  color: #D3B739;
}

.lite {
  font-weight: 300;
}

.ultraLite {
  font-weight: 100;
}

.style {
  font-style: italic;
}

.alignCron {
  background-image: url('images/cron.png');
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-top: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alignVaultBoy {
  margin-top: 100px;
}

.alignVaultBoy img {
  width: 100px;
}

.title {
  font-size: 24px;
}

.listStyle {
  height: 8px;
  width: 8px;
  margin-top: 7px;
  margin-right: 40px;
  background-color: black;
  border-radius: 50%;
  float: left;
}

.release {
  font-size: 9px;
  line-height: 11px;
}

.titleCron {
  font-size: 14px;
}

.imagesEndContent {
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   width: 100%;
   position: absolute;
   top: 84%;
}

/*
768
992
1200*/

@media screen and (min-width: 768px) and (max-width: 992px) {
  .verticalLine {
    height: 280px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  h1 {
    font-size: 70px;
  }

  .headContent {
    width: 335px;
  }

  .bethesda {
    height: 191px;
    width: 53px;
  }
  
  .bethesda p {
    margin-top: 131px;
    font-size: 33px;
  }
  
  .description {
    padding-top: 15px;
  }
  
  .description p {
    font-size: 32px;
  }

  .verticalLine {
    height: 350px;
  }

  .firstParagraph {
    font-size: 16px;
  }
  
  .secondParagraph {
    font-size: 18px;
  }

  li p {
    font-size: 18px;
    line-height: 27px;
  }

  .headContent {
    margin-left: 10%;
  }
  /**/
  .alignCron {
    background-size: cover;
    width: 143px;
    height: 142px;
    margin-right: 60px;
    margin-top: 24px;
  }
  
  .alignVaultBoy {
    margin-left: 54px;
    margin-top: 18px;
  }
  
  .alignVaultBoy img {
    width: 150px;
  }
  
  .title {
    font-size: 24px;
  }
  
  .release {
    margin-top: 35px;
    font-size: 14px;
    line-height: 21px;
  }
  
  .titleCron {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 70px;
  }

  .headContent {
    width: 335px;
  }

  .bethesda {
    height: 191px;
    width: 53px;
  }
  
  .bethesda p {
    margin-top: 131px;
    font-size: 33px;
  }
  
  .description {
    padding-top: 15px;
  }
  
  .description p {
    font-size: 32px;
  }

  .verticalLine {
    height: 350px;
  }

  .firstParagraph {
    font-size: 20px;
  }
  
  .secondParagraph {
    font-size: 22px;
  }

  li p {
    font-size: 20px;
    line-height: 29px;
  }

  .headContent {
    margin-left: 10%;
  }
  .alignCron {
    background-size: cover;
    width: 143px;
    height: 142px;
    margin-right: 60px;
    margin-top: 24px;
  }
  
  .alignVaultBoy {
    margin-left: 54px;
    margin-top: 18px;
  }
  
  .alignVaultBoy img {
    width: 150px;
  }
  
  .title {
    font-size: 24px;
  }
  
  .release {
    margin-top: 35px;
    font-size: 14px;
    line-height: 21px;
  }
  
  .titleCron {
    font-size: 20px;
  }
}